<header class="header">
    <h1>HELLO! IT'S TETRIS TIME!</h1>
</header>

<form class="playerForm" #playerForm="ngForm" (ngSubmit)="onSubmit(playerForm.form.value.playerName)">
    <label for="playerName">PLAYER NAME: </label>
    <input id="playerName" name="playerName" #nameModel="ngModel" minlength="3" ngModel required class="form-control"
        id="exampleFormControlInput1" placeholder="Jan Kowalski" />
    <span *ngIf="nameModel.touched && !nameModel.valid" class="errorName" style="color: red">Min. 3 characters!</span>
    <br />
    <label for="email">E-MAIL: </label>
    <input id="email" name="email" #emailModel="ngModel" ngModel required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" class="form-control"
        id="exampleFormControlInput1" placeholder="name@example.com" />
    <span *ngIf="emailModel.touched && !emailModel.valid" class="errorEmail" style="color: red">Invalid e-mail!</span>
    <br />
    <button [disabled]="playerForm.valid === false">Go on!</button>
</form>