<h1>GOOD LUCK {{ playerName }}</h1>
<div class="gameInfo">
    <div>
        <p>{{ gameStatus }}</p>
    </div>
</div>
<div>
    <p>Time played: {{ gamePlayTime }}</p>
</div>
<div>
    <p>Your score: {{ score }}</p>
</div>
<div class="game">
    <div class="gameBoard">
        <tetris-core #game (lineCleared)="onLineCleared()" (gameOver)="onGameOver()"></tetris-core>
    </div>
    <div class="gameControl">

        <div class="gameControl__status">
            <td> <button [disabled]="isGameActive || gameStatus === 'GAME OVER'" class="button"
                    (click)="game.actionStart(); gameStarted()">
                    START
                </button></td>
            <td><button [disabled]="!isGameActive" class="button" (click)="game.actionStop()">
                    STOP
                </button></td>
            <td><button class="button" (click)="game.actionReset()">
                    RESET
                </button></td>
            <td><button class="button" (click)="onExitClick()">EXIT</button></td>
        </div>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <div class="gameControl__drops">
            <td><button [disabled]=" !isGameActive" class='button' (click)="game.actionRotate()">
                    ROTATE
                </button></td>
        </div>
        <div class="gameControl__moves">
            <td><button [disabled]="!isGameActive" class="button" (click)="game.actionLeft()">
                    LEFT
                </button></td>
            <td><button class='button' (click)=" game.actionRight()">
                    RIGHT
                </button></td>
        </div>
        <div class="gameControl__moves">
            <td><button [disabled]="!isGameActive" class="button" (click)="game.actionDown()">
                    DOWN
                </button>
            </td>
        </div>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <div class="gameControl__drops">
            <td> <button [disabled]="!isGameActive" class="button" (click)="game.actionDrop()">
                    DROP
                </button></td>
        </div>

    </div>