.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.gameInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.gameInfo div {
  display: flex;
  justify-content: center;
}
.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > * {
    margin-bottom: 12px;
  }
  &__status {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  &__moves {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  &__drops {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}

.button {
  color: #c20d0d;
  background-color: #0f0766;
  border: 2px solid #eee;
  padding: 12px 24px;
  min-width: 100px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  &:hover:not(:disabled) {
    background-color: #eee;
    color: #222;
  }
}
