<h1>GOOD LUCK {{ playerName }}!!</h1>
<div class="gameInfo">
    <div>
        <p>{{ gameStatus }}</p>
    </div>
</div>
<div>
    <p>Time played: {{ gamePlayTime }}</p>
</div>
<div>
    <p>Your score: {{ score }}</p>
</div>
<div class="game">
    <div class="gameBoard">
        <tetris-core #game (lineCleared)="onLineCleared()" (gameOver)="onGameOver()"></tetris-core>
    </div>
    <div class="gameControl">

        <div class="gameControl__status">
            <td> <button class="button" (click)="onStartButtonPressed( )">
                    START
                </button></td>
            <td><button class="button" (click)="onStopButtonPressed()">
                    STOP
                </button></td>
            <td><button class="button" (click)="onResetButtonPressed()">
                    RESET
                </button></td>
            <td><button class="button" (click)="onExitButtonPressed()">EXIT</button></td>
        </div>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <div class="gameControl__drops">
            <td><button class='button' (click)="onRotationButtonPressed()">
                    ROTATE
                </button></td>
        </div>
        <div class="gameControl__moves">
            <td><button class="button" (click)="onLeftButtonPressed()">
                    LEFT
                </button></td>
            <td><button class='button' (click)=" onRightButtonPressed()">
                    RIGHT
                </button></td>
        </div>
        <div class="gameControl__moves">
            <td><button class="button" (click)="onDownButtonPressed()">
                    DOWN
                </button>
            </td>
        </div>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <div class="gameControl__drops">
            <td> <button class="button" (click)="onDropButtonPressed()">
                    DROP
                </button></td>
        </div>

    </div>